table {
  input {
    width: 60px;
  }
  /*tr {
    cursor: move;
  }*/
}

.mat-column-price, .mat-column-totalPrice {
  min-width: 60px;
}

.mat-column-index {
  width: 42px;
}

.drag-handler {
  .index {
    display: inline;
  }
  .drag {
    display: none;
    cursor: pointer;
  }
  &:hover {
    .drag {
      display: inline;
    }
    .index {
      display: none;
    }
  }
}
