<!--<mat-grid-list cols="4" gutterSize="10px" rowHeight="fit" [style.min-height.px]="120">-->
<!--  <mat-grid-tile style="background-color: #00b7ff"></mat-grid-tile>-->
<!--  <mat-grid-tile style="background-color: pink"></mat-grid-tile>-->
<!--  <mat-grid-tile style="background-color: darkseagreen"></mat-grid-tile>-->
<!--  <mat-grid-tile style="background-color: lightyellow"></mat-grid-tile>-->
<!--</mat-grid-list>-->

<div fxLayout fxLayout.xs="column" fxLayoutGap="10px" style="height: 300px;">
  <div fxFlex="25" style="background-color: #00b7ff"></div>
  <div fxFlex="25" style="background-color: pink"></div>
  <div fxFlex="25" style="background-color: darkseagreen"></div>
  <div fxFlex="25" style="background-color: lightyellow"></div>
</div>

<app-test-child [par]="parent"></app-test-child>
