<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">Angular ERP</h1>
  <div class="spacer"></div>
  <a mat-icon-button class="github" href="https://github.com/zhangshifuicetea/Angular-ERP" target="_blank" rel="noopener">
    <img src="assets/images/github.svg" class="github">
  </a>
  <button mat-button class="avatar">
    <img src="assets/images/avatar.jpg">
     张师傅
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
