
<div fxLayout="row wrap" fxLayoutAlign="start center">
  <span style="font-size: 16px; margin-right: 20px;">品类:</span>
  <app-cascade-select labelKey="key" [dataSource]="cascade" (selectedChange)="log($event)"></app-cascade-select>
  <button mat-button color="primary" matTooltip="搜索"><mat-icon>search</mat-icon></button>
  <button mat-button color="primary" matTooltip="新增产品" routerLink="../edit"><mat-icon>add_circle_outline</mat-icon></button>
</div>

<div fxLayout="row wrap" fxLayout.xs="column wrap">

</div>
