.mat-form-field {
  display: block;
  max-width: 300px;
}

@media screen and (min-width: 420px) {
  :host {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px dashed lightgray;
  }
}
