:host {
  display: block;
  padding: 10px 0;
}

.nav-item {
  margin: 0;
  user-select: none;
  transition: all 0.2s ease;
  white-space: nowrap;
  .title {
    height: 42px;
    cursor: pointer;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    .left, .right {
      display: flex;
      align-items: center;
    }
    &.active {
      color: #03a9f4;
    }
  }
  .rotate-up {
    transform: rotate(180deg);
  }
}

.nav-children {
  overflow: hidden;
  max-height: 900px;
  &.hide {
    max-height: 0;
  }
}

.transition-all {
  transition: all 0.2s ease;
}
