<!--<mat-nav-list *ngIf="navExpanded">-->
<!--  <ng-container *ngFor="let item of sideNavList">-->
<!--    <mat-list-item>-->
<!--      <mat-icon class="nav-icon" matlisticon>{{item.icon}}</mat-icon>-->
<!--      <span style="margin-left: 10px">{{item.title}}</span>-->
<!--    </mat-list-item>-->
<!--    <mat-nav-list *ngIf="item.children?.length">-->
<!--      <a *ngFor="let link of item.children" mat-list-item [routerLink]="[item.path + '/' + link.path]">-->
<!--        <span style="padding-left: 30px;">{{link.title}}</span>-->
<!--      </a>-->
<!--    </mat-nav-list>-->
<!--  </ng-container>-->

<!--</mat-nav-list>-->

<!--<mat-nav-list *ngIf="!navExpanded">-->
<!--  <mat-list-item *ngFor="let item of sideNavList">-->
<!--    <mat-icon class="nav-icon" matlisticon>{{item.icon}}</mat-icon>-->
<!--  </mat-list-item>-->
<!--</mat-nav-list>-->

<ng-container *ngIf="expanded">
  <div class="nav-item" *ngFor="let item of navList">
    <div class="title" [class.active]="selectedPath === item.path" (click)="clickItem(item, $event)" matRipple>
      <div class="left">
        <mat-icon style="margin-right: 10px;">{{item.icon}}</mat-icon>
        <span>{{item.title}}</span>
      </div>
      <div class="right">
        <mat-icon *ngIf="item.children?.length" class="transition-all" [class.rotate-up]="item.expand">expand_more
        </mat-icon>
      </div>
    </div>

    <div class="nav-children" [class.hide]="!item.expand">
      <div class="nav-item" *ngFor="let link of item.children">
        <div class="title" [class.active]="selectedPath === link.path" (click)="clickItem(link, $event)" matRipple>
          <div class="left">
            <span style="margin-left: 34px;">{{link.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!expanded">
  <div class="nav-item" *ngFor="let item of navList" [matTooltip]="item.title" matTooltipPosition="right">
    <div class="title" [class.active]="selectedPath === item.path" (click)="clickItem(item, $event)" matRipple
         [matMenuTriggerFor]="menu" *ngIf="item.children?.length">
      <div class="left">
        <mat-icon style="margin-right: 10px;">{{item.icon}}</mat-icon>
      </div>
    </div>

    <div class="title" [class.active]="selectedPath === item.path" (click)="clickItem(item, $event)" matRipple
         *ngIf="!item.children?.length">
      <div class="left">
        <mat-icon style="margin-right: 10px;">{{item.icon}}</mat-icon>
      </div>
    </div>

    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item *ngFor="let link of item.children" (click)="clickItem(link, $event)">{{link.title}}</button>
    </mat-menu>
  </div>
</ng-container>
